<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>WebGL 2 Point Cloud Viewer</title>
    {{if .Production}}
    <script src="libs/picogl.min.js"></script>
    {{else}}
    <script src="libs/picogl.js"></script>
    {{end}}
    <script src="libs/utils.js"></script>
    <script src="libs/gl-matrix-min.js"></script>
    <link rel="stylesheet" href="styles/style.css"> 
</head>
<body>
    <canvas id="gl-canvas"></canvas>
    <script type="shader/vs" id="vs">
        #version 300 es
        layout(std140, column_major) uniform;
        layout(location=0) in vec4 position;
        
        uniform SceneUniforms {
            mat4 viewProj;
        };

        uniform mat4 uModel;
        
        out vec3 vPosition;

        void main() {
            vec4 worldPosition = uModel * position;
            vPosition = worldPosition.xyz;
            gl_Position = viewProj * worldPosition;
        }
    </script>
    <script type="shader/fs" id="fs">
        #version 300 es
        precision highp float;
        layout(std140, column_major) uniform;
        
        uniform SceneUniforms {
            mat4 viewProj;
        };

        in vec3 vPosition;
        
        out vec4 fragColor;
        void main() {
            fragColor = vec4(1.0, 0.0, vPosition.x / 1.0, 1.0);
        }
    </script>


</body>
<script type="text/javascript" src="models/bunny_points.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/eventListeners.js"></script>
</html>
